@{
    ViewData["Title"] = "Vistorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <h3>Vistorias Agendadas</h3>
    <p class="subtitle">Próximas inspeções no condomínio</p>

    <div class="vistoria">
        <div class="info">
            <p>Elevadores</p>
            <small>15/10/2025 • 09:00</small>
        </div>
        <span class="status agendado-label">Agendado</span>
    </div>

    <div class="vistoria">
        <div class="info">
            <p>Área da Piscina</p>
            <small>16/10/2025 • 14:00</small>
        </div>
        <span class="status agendado-label">Agendado</span>
    </div>
</section>
